#container {
    grid-template-rows: 1fr 85px;
    height: 100dvh;
}

#main-container {
    background: var(--dark2);
}

#main-grid {
    gap: 5px; width: min(60%, 1000px); 
    height: min(50%, 320px);

    grid-template-rows: 3.5fr 1.5fr 2fr 2fr;
    grid-template-columns: 13fr 1fr 2fr;
}

.long-sec {
    grid-column: 1 /span 3;
}

#logo-image {
    width: 12%; margin: auto;
}

#logo-name {
    color: var(--orange);
    font-size: 2.2em;
    font-family: "Rubik Moonrocks";
}

#tagline {
    text-align: center;
    color: var(--orange);
    font-size: 1.1em;
    font-weight: 500;
}

.inp {
    width: 100%;
    padding: 8px 14px;
    background: var(--dark3);
    color: var(--light);
    border-radius: 6px;
}

#quan {
    text-align: center;
}

#quan::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#btn {
    transition: .2s;
    font-weight: 500;
}

.disabled {
    background: var(--disabled);
    cursor: not-allowed;
}

.active {
    background: var(--orange);
    color: var(--dark);
    cursor: pointer;
}

footer {
    background: var(--dark);
}

#credit {
    gap: 5px; padding: 6px 12px;
    margin-inline: 3px;
    background: var(--dark3);
    border-radius: 10px;
    text-decoration: none;
}

footer, #credit {
    color: var(--light);
}
