@media only screen and (max-width: 1440px) {
    #container {
        grid-template-rows: 1fr 70px;
    }

    #main-grid {
        width: min(75%, 750px); 
        height: min(50%, 250px);
    }

    #logo-name {
        font-size: 2.3em;
    }

    #tagline {
        font-size: .85em;
    }

    footer {
        font-size: .85em;
    }
}

@media only screen and (max-width: 1024px) {
    #container {
        grid-template-rows: 1fr 60px;
    }

    #logo-name {
        font-size: 1.9em;
    }

    .inp {
        padding: 6px 10px;
    }

    #credit {
        gap: 5px; padding: 5px 10px;
    }
}

@media only screen and (max-width: 768px) {
    #container {
        grid-template-rows: 1fr 75px;
    }

    #main-grid {
        grid-template-rows: 3.5fr 1fr 2.5fr 1.5fr 1.5fr;
        grid-template-columns: 1fr 2fr;

        width: min(80%, 550px);
    }

    #logo-image {
        width: 130px;
    }

    .inp {
        font-size: .75em;
    }

    .long-sec, #acc-con {
        grid-column: 1 /span 2;
    }

    footer {
        font-size: .8em;
    }
}

@media only screen and (max-width: 500px) {
    #main-grid {
        width: 80%; height: 340px;
    }

    #logo-name {
        font-size: 2em;
    }

    #tagline {
        padding: 20px 8px;
    }

    .inp {
        padding: 9px 15px;
        font-size: .85em;
    }
}

@media only screen and (max-width: 400px) {
    #main-grid {
        width: 85%;
    }
}

@media screen and (max-height: 500px) {
    #container {
        grid-template-rows: 1fr 50px;
    }

    #main-grid {
        height: 50%;
    }

    #logo-image {
        display: none;
    }

    .inp {
        padding: 6px 9px;
        font-size: .75em;
    }
}