@media only screen and (max-width: 1920px) {
    #container {
        grid-template-rows: 1fr 80px;
    }

    #main-grid {
        width: min(50%, 900px); 
        height: min(50%, 350px);
    }

    #logo-image {
        width: 15%;
    }

    #logo-name {
        font-size: 2.7em;
    }

    #tagline {
        font-size: 1.1em;
    }

    footer {
        font-size: .95em;
    }
}

@media only screen and (max-width: 1440px) {
    #container {
        grid-template-rows: 1fr 70px;
    }

    #main-grid {
        width: min(65%, 740px); 
        height: min(50%, 300px);
    }

    #logo-name {
        font-size: 2.5em;
    }

    #tagline {
        font-size: .83em;
    }

    footer {
        font-size: .85em;
    }
}

@media only screen and (max-width: 1024px) {
    #container {
        grid-template-rows: 1fr 60px;
    }

    #main-grid {
        width: min(700px, 75%);
        height: min(50%, 230px);
    }

    #logo-name {
        font-size: 1.9em;
    }

    .inp {
        padding: 6px 10px;
    }

    #credit {
        gap: 5px; padding: 5px 10px;
    }
}

@media only screen and (max-width: 768px) {
    #container {
        grid-template-rows: 1fr 75px;
    }

    #main-grid {
        grid-template-rows: 3.5fr 1fr 2.5fr 1.5fr 1.5fr;
        grid-template-columns: 1fr 2fr;

        width: min(550px, 80%);
    }

    .inp {
        font-size: .75em;
    }

    .long-sec, #acc-con {
        grid-column: 1 /span 2;
    }
}

@media only screen and (max-width: 500px) {
    #main-grid {
        width: 80%; height: 340px;
    }

    #logo-image {
        width: 30%;
    }

    #logo-name {
        font-size: 2em;
    }

    #tagline {
        font-size: .85em;
        padding: 20px 8px;
    }

    .inp {
        padding: 9px 15px;
        font-size: .9em;
    }
}

@media only screen and (max-width: 400px) {
    #main-grid {
        width: 85%;
    }
}

@media screen and (max-height: 400px) {
    #container {
        grid-template-rows: 1fr 50px;
    }

    #main-grid {
        height: 70%;
    }

    #logo-image {
        display: none;
    }

    .inp {
        padding: 6px 9px;
        font-size: .75em;
    }

    footer {
        font-size: .8em;
    }
}