:root {
    --black: #000000;
    --dark: #111111;
    --dark2: #1a1a1a;
    --dark3: #353535;
    --orange: #ff8800;
    --disabled: #ffc079;
    --light: #e2e2e2;
    --white: #ffffff;
}

* {
    margin: 0; padding: 0;
    font-family: "poppins";
    box-sizing: border-box;
}

button, input {
    outline: none;
    border: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.d-grid {
    display: grid;
}